RAG_Comp (4).json
{
  "name": "RAG_Comp",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        880,
        180
      ],
      "id": "0760bb45-f4b6-4d8c-8a68-874bcf81c6b3",
      "name": "When chat message received",
      "webhookId": "c66dd826-8130-4504-b5f6-4e7545821613"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1060,
        180
      ],
      "id": "b2a49f5e-8755-4753-8885-febfb6081813",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        980,
        360
      ],
      "id": "6de787d6-8b9f-4e1b-87cb-31d2c942ea34",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Bh0RUWnNnodj5CTw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1160,
        360
      ],
      "id": "d556262f-1a61-4369-b5f7-0d89f4763bdb",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "dHrVVHXRYqbDysGj",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        920,
        680
      ],
      "id": "63f849fc-901e-453d-969f-ac1b0c5a6a92",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this to get information about Chatbot development services and other details, answer to the point and short, use bullet points for easy readability ",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1340,
        360
      ],
      "id": "a59736d2-f62a-4866-8f5c-3ebda0991b45",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "9yeIc4O75r1pj3Af",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://drive.google.com/uc?export=download&id=1DDPeoS2-U7kROb_183XH-efOXtQdYBfa",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        680
      ],
      "id": "77381a46-525c-4941-9de0-f87670477f6f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1540,
        680
      ],
      "id": "304d21fa-22d6-4b55-9e19-40045640b718",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "9yeIc4O75r1pj3Af",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1440,
        900
      ],
      "id": "02463a56-da60-4eab-9423-d69c17a8b3b7",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Bh0RUWnNnodj5CTw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1620,
        900
      ],
      "id": "e5cae10f-be77-4cf3-91af-86373becb990",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1620,
        1060
      ],
      "id": "1581d639-25ea-4578-af8b-4fb6c7fa2e59",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nif (!item.binary) item.binary = {};\nif (!item.binary.data) item.binary.data = {};\nitem.binary.data.mimeType = 'application/pdf';\nitem.binary.data.fileName = 'RAG Company doc.pdf';\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        680
      ],
      "id": "85e05680-b403-4616-93f1-522e99c2f6e5",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1340,
        500
      ],
      "id": "b1dda9d6-1259-45e0-93f6-0edd2323d6d3",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "Bh0RUWnNnodj5CTw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5a5276c1-ce9b-42da-8d64-68ccfee4d55e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1bd6eab0f95021e03a6b7be0f427465c1313b130afd3d4dcff15686cac824f43"
  },
  "id": "ku4j9yai5VjS3ld1",
  "tags": []
}